* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 70px;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

/* HEADER */

header {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    height: 70px;
    background-color: #ff6900;
    box-shadow: 0px 1px 3px grey;
    color: white;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    height: 30px;
}

.menu ul {
    display: flex;
    list-style: none;
}

header .menu ul li a {
    color: white;
    text-decoration: none;
}

header .menu.nav li {
    padding-right: 10px;
}

header .menu.icone li {
    padding-left: 10px;
}

header .menu.nav li a:hover {
    text-decoration: underline;
}

/* MAIN */

.row {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.box {
    display: flex;
    flex-direction: column;
    max-width: 31%;
    min-width: 200px;
    margin-top: 70px;
    cursor: pointer;
}

.product {
    position: relative;
}

img {
    width: 100%;
}

img.hover {
    display: none;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

.product:hover .hover {
    display: block;
}

.badge {
    position: absolute;
    bottom: 30px;
	left: 0;
}

.product .discount{
	padding: 4px 6px;
    font-size: 12px;
    font-weight: 800;
	background-color: red;
	color: white;
}

.product .sostenibile {
    font-size: 12px;
    font-weight: 800;
    color: white;
    background-color: green;
    padding: 4px 6px;
}

.product .heart {
    position: absolute;
    right: 0;
    top: 5px;
    background-color: white;
    padding: 4px 8px;
}

.product .heart:hover {
    color: red;
    cursor: pointer;
}

.text {
    font-size: 12px;
}

.text h5 {
    text-transform: uppercase;
    font-size: 16px;
}

.price.red {
    color: red;
}

.price.crossed {
    text-decoration: line-through;
}

/* FOOTER */

footer {
    background-color: #1a1a1a;
    color: white;
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

footer .container {
    display: flex;
    justify-content: space-between;
}

footer ul {
    list-style: none;
    display: flex;
}

footer ul li {
    font-size: 12px;
    padding-top: 10px;
    padding-right: 5px;
}

footer ul li a {
    color: white;
    text-decoration: none;
}

footer ul li a:hover {
    text-decoration: underline;
}

.company {
    font-weight: 800;
}


