* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 70px;
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

/* HEADER */

header {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    height: 70px;
    background-color: orange;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3)
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    height: 30px;
}

.menu ul {
    display: flex;
    list-style: none;
}

/* MAIN */

.row {
   text-align: center;

}

.product {
    max-width: 33%;
    min-width: 200px;
    position: relative;
    display: inline-block;
    margin-top: 70px;
}

img {
    width: 100%;
}